@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --color-btn:#0095f6;
    --color-text-main:#262626;
    --color-text-little:#8E8E8E;

    --font-main:'Roboto', sans-serif;
}

*{
    margin:0;
    padding:0;
    list-style:none;
    box-sizing:border-box;

    font-family:var(--font-main);
    color:var(--color-text-main);
}


body{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    min-height:100vh;
}
.wrapper{
    margin:50px;
}

main{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;

    min-height:100vh;
    gap:20px;

}

.container{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.container-data,.container-phone,.container-form,.form,.login{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.container-phone > img{
    width:200%;
}

.container-data{
    border:1px solid rgba(var(--b6a,219,219,219),1);
    padding:20px;
}

.login{
    gap:20px;
    padding:50px 30px !important;
}

.login > img{
    width:80%;
}

.container-form{
    gap:20px;
}

.form{
    gap:12px;
}
input{
    width:100%;

    color:var(--color-text-little);
    border:1px solid rgba(var(--b6a,219,219,219),1);
}

button{
    margin-top:5px;
    width:300px;

    border:none;
    color:#fff;
    background-color:var(--color-btn);
    font-weight:bold;


    cursor:pointer;
}

input,button{
    border-radius:5px;
    padding:8px;
}

.p-or{
    font-size:0.8em;
    font-weight:bold;
    color:#8e8e8e;
}

.lines{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    gap:10px;
    width:100%;
}

.line{
    background-color:#DBDBDB;
    width:100%;
    height:1px;
}

.p-facebook{
    font-size:0.9em;
    font-weight:bold;
}

.p-pass-forget{
    font-size:0.8em;
}
container-download{

}   

a{
    text-decoration:none;
}

.registration > p > span > a{
    color: #0095f6;
}

.registration > p {
    font-size:1em;
}

.links > a > img{
    width:160px;
    height:50px;
}

.container-download{
    display:flex;
    flex-direction: column;

    align-items:center;
    gap:10px;
    font-size:0.9em;
}

@media(max-width:1000px){
    .container-phone{
       display:none;
    }
}







